<%- include("../includes/head") %> <%- include("../includes/midle") %>
<%-include("../includes/navbar") %>

<div class="mt-6 flex flex-col justify-center items-center flex-wrap gap-3">
  <% for( let item of data ) { %>
  <div class="max-w-96 border-2 border-green-600 rounded-lg">
    <div class="p-2">
      <h3 class="font-bold"><%=item.title %></h3>
    </div>
    <div>
      <img src="<%= item.imageurl %>" alt="<%=item.pagetitle%>" />
    </div>
    <div class="p-2">
      <h4 class="font-bold text-2xl">$ <%=item.price %></h4>
      <p><%=item.description %></p>
      <div class="mt-5 mb-2">
        <a href="/admin/products/edit/<%= item.ID %>">
          <button class="btn">Edit</button></a
        >
        <a href="/admin/products/delete/<%= item.ID %>">
          <button class="btn">Delete</button></a
        >  <a href="/admin/products/<%= item.ID %>">
          <button class="btn">Details</button></a
        >
      </div>
    </div>
  </div>
  <% } %>
</div>

<%- include("../includes/end") %>
