<%- include("../includes/head") %> <%- include("../includes/midle") %>
<%-include("../includes/navbar") %>

<div class="mt-6 flex flex-col justify-center items-center flex-wrap gap-3">
  <div class="max-w-96 border-2 border-green-600 rounded-lg">
    <div class="p-2">
      <h3 class="font-bold"><%=pageTitle %></h3>
    </div>
    <div>
      <img src="<%= imageurl %>" alt="<%=imageurl%>" />
    </div>
    <div class="p-2">
      <h4 class="font-bold text-2xl">$ <%=price %></h4>
      <p><%=description %></p>
      <button
        class="border px-4 py-1 mt-4 rounded-lg font-bold border-green-500 transition hover:bg-green-600 hover:text-lime-50 duration-500"
      >
        Add To Card
      </button>
    </div>
  </div>
</div>

<%- include("../includes/end") %>
